<a href="https://colab.research.google.com/github/chldPdnjs/pythonbasicclass/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# list tuple dict set

# list [] indexing/slicing  mutable(del,ins)  [1]
# tuple ()  indexing/slicing  imutable     (1,)
# dict {}         X  (unordered)  mutable  {'key' : 'value'}
# set {}          X  (unordered)  mutable  {1.2.3}

In [5]:
# 1
no = '31025'
a = no[0]
b = no[1:3]
c = no[3:5]

print(a,'학년',b,'반',c,'번')
print(f'{a} 학년 {b} 반 {c} 번')

3 학년 10 반 25 번
3 학년 10 반 25 번

In [11]:
# 2

no = '서울2가1234'
no4 = no[-4:]

print(f'{no} 의 차량번호 4자리는 {no4} 입니다.')
print(no,'의 차량번호 4자리는', no4 , '입니다.')

서울2가1234 의 차량번호 4자리는 1234 입니다.
서울2가1234 의 차량번호 4자리는 1234 입니다.

In [13]:
# 3

str = 'maple'
a = str[len(str)//2]  # // 나머지를 버리고 몫만 취한다.
                      # % 몫은 버리고 나머지만 취한다.

print(f'{str} 의 가운데 글자는 {a} 입니다.')

maple 의 가운데 글자는 p 입니다.

In [18]:
# 4

li = [10,20,30,40,50,60,70,80,90,100]
a = li[2:7]

print('3번째 요소부터 7번째 요소 = ', a)
print('3번째 요소부터 7번째 요소 중 2번째 요소 = ', a[1])

3번째 요소부터 7번째 요소 =  [30, 40, 50, 60, 70]
3번째 요소부터 7번째 요소 중 2번째 요소 =  40

In [22]:
# 5

dict = {'금요일':'탕수육',
        '토요일':'유산슬',
        '일요일':'팔보채'}

print('금요일 :',dict['금요일'])
print('토요일 :',dict['토요일'])
print('일요일 :',dict['일요일'])

금요일 : 탕수육
토요일 : 유산슬
일요일 : 팔보채

In [31]:
# \ 따옴표의 기능을 무력화시키고 글자로 표현
# \n 줄바꿈  line feed
# \t 탭      tab

print('Hello \'World\'')
print("Hello 'World'")
print("Hello \"World\"")
print('Hello "World"')

print('*\n**\n***')

print( 'Hello\nWorld')

print('이름\t연락처')
print('제시카\t01-123-4567')
print('마틴\t010-6789-7890')

Hello 'World'
Hello 'World'
Hello "World"
Hello "World"
*
**
***
Hello
World
이름	연락처
제시카	01-123-4567
마틴	010-6789-7890

In [35]:
# print() 함수

print('재미있는','파이썬')
print('재미있는','파이썬', sep=',') # 구분자
print('재미있는','파이썬', sep='/')
print('재미있는','파이썬', sep='^')
print('최예원','박철진', sep='♥')

재미있는 파이썬
재미있는,파이썬
재미있는/파이썬
재미있는^파이썬
최예원♥박철진

In [36]:
print('영화 타이타닉')
print('평점', end=':')
print('5점')

영화 타이타닉
평점:5점

In [41]:
# % 연산자

print('%d' % 10)  # %d 정수 10진수 자리표시자
print('%o' % 10)  # %o 정수 8진수 자리표시자
print('%x' % 10)  # %x 정수 16진수 자리표시자

print('%f' % 3.14)

10
12
a
3.140000

In [46]:
print('%d' %1)
print('%5.2f' % 3.14) # 다섯칸을 확보하고 오른쪽부터 실수 출력
print('%5d' %11) # 다섯칸을 확보하고 오른쪽부터 출력

1
 3.14
   11

In [44]:
print('%-5d' %1) # 다섯칸을 확보하고 왼쪽에 출력
print('%-5d' %11) # 다섯칸을 확보하고 왼쪽부터 출력

1
11

In [47]:
print('%.2f' % 3.14) # 소수 2자리까지 실수출력
print('%.1f' % 3.14) # 소수 1자리까지 실수출력

3.14
3.1

In [51]:
a='학생'

# 기본 출력 방법
print(a,'입니다')

# f string 출력 방법
print(f'{a} 입니다.')

# % 연산자 출력 방법
print('%s 입니다.' % a)

# format() 출력 방법
print('{} 입니다.'.format(a))

학생 입니다
학생 입니다.
학생 입니다.
학생 입니다.

In [52]:
#  format() 메서드

print('My name is {}'.format('James'))

My name is James

In [53]:
print('My name is {0}'.format('James'))

My name is James

In [54]:
print('My name is {name}'.format(name='James'))

My name is James

In [55]:
print('My name is {}. |\'m {} years old.'.format('James',20))

My name is James. |'m 20 years old.

In [56]:
print('My name is {1}. |\'m {0} years old.'.format('James',20))

My name is 20. |'m James years old.

In [57]:
print('My name is {name}. |\'m {age} years old.'.format(name='James',age=20))

My name is James. |'m 20 years old.

In [59]:
# f-string

who = 'you'
how = 'happy'

print(f'{who} make me {how}')

you make me happy

In [60]:
age =  25
print(f'내년엔 {age+1}살이 됩니다.')

내년엔 26살이 됩니다.

In [62]:
#  표준입력

a = input()
print(a)

asd
asd

In [63]:
n = input('정수를 입력하세요 : ')
print(n)

정수를 입력하세요 : 26
26

In [68]:
# a='학생'

# # 기본 출력 방법
# print(a,'입니다')

# # f string 출력 방법
# print(f'{a} 입니다.')

# # % 연산자 출력 방법
# print('%s 입니다.' % a)

# # format() 출력 방법
# print('{} 입니다.'.format(a))

name = input('이름을 입력하세요>>>')
age = input('나이를 입력하세요>>>')

print('입력된 이름은 {}입니다.'.format(name))
print('입력된 나이는 {}살입니다.'.format(age))

print('입력된 이름은',name,'입니다')
print('입력된 나이는',age,'입니다.')

print('입력된 이름은 %s입니다.' % name)
print('입력된 나이는 %s살입니다.' % age)

print(f'입력된 이름은 {name}입니다.')
print(f'입력된 나이는 {age}살입니다.')

이름을 입력하세요>>>최예원
나이를 입력하세요>>>26
입력된 이름은 최예원입니다.
입력된 나이는 26살입니다.
입력된 이름은 최예원 입니다
입력된 나이는 26 입니다.
입력된 이름은 최예원입니다.
입력된 나이는 26살입니다.
입력된 이름은 최예원입니다.
입력된 나이는 26살입니다.